# Ignore these file type for git.
# Ignore Vivado and Vitis journal and log files
vivado*.jou
vivado*.log
vivado*.str
vitis*.log 

# Ignore .Xil directory
.Xil

# Ignore emacs backup files
*~

# Ignore build and hls_ip_build directories
build
hls_ip_build/

# Ignore other files
*.swp
*.vscode
*.zip
**/tags
**/TAGS
